.modal-header {
  background-color: #353942;
  color: white;
}

.form-button {
  width: 200px;
  background-image: linear-gradient(to right top, #fd495e, #fe525b, #fe5b58, #fe6456, #fe6c54);
  color: white;
}

mat-checkbox {
  margin: 5px 0 5px 15px;
}
