<div class="ml-4 mr-4">
  <h4 class="mt-3">Regulamin serwisu wrocdodomu.pl</h4>

  <h5 class="mt-3">Postanowienia ogólne</h5>

  <div>
    1. Niniejszy regulamin określa zasady dostępu do usług, świadczonych na stronach portalu wrocdodomu.pl zwanego dalej portalem.<br>
    2. Portal nie bierze udziału w kontaktach między użytkownikami, nie pobiera żadnych opłat, prowizji w
    przypadku jakichkolwiek wymian gotówkowych pomiędzy użytkownikami w związku z nagrodami za odnalezienie zwierzęcia,
    a działa jedynie jako pośrednik kojarzący obie strony. Portal nie może
    zapewnić, że każda z zaangażowanych stron działa w dobrej wierze jak i nie jest również w stanie kontrolować
    wiarygodności osób korzystających z portalu. Użytkownicy wchodzą więc ze sobą w kontakt na własne ryzyko.<br>
    3. Portal nie ponosi żadnej odpowiedzialności za szkody powstałe w wyniku kontaktu między użytkownikami lub niewłaściwego
    zachowania żadnej ze stron.<br>
    4. Prezentowane na stronach portalu ogłoszenia i ich treści nie stanowią oferty w rozumieniu art. 66 KC.<br>
    5. Użytkownik akceptuje fakt, iż nie ma prawa rościć jakichkolwiek pretensji wynikłych z wadliwego działania portalu.<br>
    6. Serwis nie bierze udziału w sporach powstałych między użytkownikami portalu. Wszelkie nieporozumienia dotyczące
    treści ogłoszeń i zawartej lub niedoszłej do skutku transakcji rozwiązują między sobą sami użytkownicy. Serwis nie
    angażuje się również w jakiekolwiek czynności prawne związane z rozwiązywaniem tego rodzaju sporów.<br>
    7. Serwis może być używany jedynie do celów zgodnych z obowiązującym prawem.<br>
  </div>

  <h5 class="mt-3">Warunki dodawania ogłoszeń</h5>

  <div>
    1. Zabronione jest wykorzystywanie serwisu do dystrybucji wszelkich materiałów chronionych przez polskie i
    międzynarodowe prawo autorskie oraz materiałów, których dystrybucji zabraniają przepisy prawa, obraźliwych,
    naruszających dobre imię osób trzecich.<br>
    2. Niedozwolona jest publikacja ogłoszeń, które które łamią regulamin serwisu, nie dotyczą podanych kategorii
    ogłoszeń, zawierają treści sprzeczne z charakterem serwisu.<br>
    3. Serwis zastrzega sobie prawo do usunięcia ogłoszenia które łamie którekolwiek z postanowień niniejszego
    regulaminu.<br>
  </div>
</div>
