<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand logo-wrapper" href="#">
    <img class="logo-pic" src="../../../assets/img/logo_yellow.png"/>
    <div class="logo-name">wrocdodomu.pl</div>
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav ml-auto">
      <a class="nav-link" [routerLinkActive]="['active']" routerLink="lost">DODAJ OGŁOSZENIE</a>
      <a class="nav-link" [routerLinkActive]="['active']" href="#">REGULAMIN</a>
      <a class="nav-link" [routerLinkActive]="['active']" href="#">KONTAKT</a>
    </ul>
  </div>
</nav>
