<div class="page-wrapper">
  <div class="welcome-page-wrapper">
    <h1 class="main-title text-center">Niech każdy pupil wróci do domu!</h1>
    <div class="choice-icons-wrapper">
      <div class="row no-gutters">
        <div class="col-12 col-xl-6 text-center p-0 choice-icon">
          <a routerLink="lost">
            <img class="choice-icon-pic img-top" src="../../../assets/img/lost_icon_yellow.png"/>
            <img class="choice-icon-pic" src="../../../assets/img/lost_icon_white.png"/>
            <button type="button" class="btn choice-icon-caption">Zaginione</button>
          </a>
        </div>
        <div class="col-12 col-xl-6 text-center p-0 choice-icon">
          <a routerLink="found">
            <img class="choice-icon-pic img-top" src="../../../assets/img/found_icon_yellow.png"/>
            <img class="choice-icon-pic" src="../../../assets/img/found_icon_white.png"/>
            <button type="button" class="btn choice-icon-caption">Znalezione</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
