.pet-pictures-container {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

.sidePanelTitle {
  height: 71px;
  width: 100%;
  font-size: 1.5rem;
  padding-left: 20px;
  background-color: rgba(0,0,0, 0.3);
}

.sidePanelContent {
  font-size: 1.1rem;
}

.pet-detail {
  margin: 20px 0;
  padding-right: 10px;
}
