img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}

.sidePanelTitle {
  height: 71px;
  width: 100%;
  background-color: rgba(0,0,0, 0.3);
}

.sidePanelContent {
  font-size: 1.1rem;
}

.pet-detail {
  margin: 20px 0;
  padding-right: 10px;
}
