<div class="modal-header" [ngClass]="resolveModalHeaderColor()">
  <div *ngIf="!isPersisted" [ngSwitch]="petDataForm.getRawValue().status">
    <h4 class="modal-title" *ngSwitchDefault>Wybierz typ zgłoszenia</h4>
    <h4 class="modal-title" *ngSwitchCase="'LOST'">Zgłoś zaginięcie</h4>
    <h4 class="modal-title" *ngSwitchCase="'FOUND'">Zgłoś znalezienie</h4>
    <h4 class="modal-title" *ngSwitchCase="'TO_GIVE'">Zgłoś do oddania</h4>
  </div>

  <div *ngIf="isPersisted">
    <h4 class="modal-title">Gratulacje!</h4>
  </div>

  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true" style="color: white; font-size: 2rem">&times;</span>
  </button>
</div>
<div class="modal-body">
  <mat-horizontal-stepper [linear]="true" #stepper [hidden]="isPersisted">
    <mat-step>
      <ng-template matStepLabel>Typ</ng-template>

      <div class="row justify-content-center">
        <button type="button" class="btn status-choice-button lost" matStepperNext
                (click)="this.petDataForm.controls.status.setValue('LOST');">
          <fa-icon [icon]="faSearch" size="lg" class="pl-2 fa-pull-left"></fa-icon>
          <div class="status-button-text pl-2 pr-2">Zgłaszam zaginięcie</div>
        </button>
      </div>

      <div class="row justify-content-center">
        <button type="button" class="btn status-choice-button found" matStepperNext
                (click)="this.petDataForm.controls.status.setValue('FOUND');">
          <fa-icon [icon]="faDog" size="lg" class="pl-2 fa-pull-left"></fa-icon>
          <div class="status-button-text pl-2 pr-2">Zgłaszam znalezienie</div>
        </button>
      </div>

      <div class="row justify-content-center">
        <button type="button" class="btn status-choice-button to-give" matStepperNext
                (click)="this.petDataForm.controls.status.setValue('TO_GIVE');">
          <fa-icon [icon]="faHandsHelping" size="lg" class="pl-2 fa-pull-left"></fa-icon>
          <div class="status-button-text pl-2 pr-2">Zgłaszam do oddania</div>
        </button>
      </div>

    </mat-step>

    <mat-step [stepControl]="petDataForm">
      <form [formGroup]="petDataForm">
        <ng-template matStepLabel>Dane</ng-template>

        <div class="row input-field">
          <div class="col-1 text-center">
            <fa-icon [icon]="faTag" class="vertical-column-align" size="lg"></fa-icon>
          </div>
          <div class="col">
            <input class="form-control"
                   [ngClass]="petDataForm.controls['name'].touched && petDataForm.controls['name'].errors? 'is-invalid' : ''"
                   matInput
                   [placeholder]="petDataForm.getRawValue().status === 'LOST'? 'Imię zwierzaka' : 'Imię zwierzaka (opcjonalnie)'"
                   formControlName="name"
                   [required]="petDataForm.getRawValue().status === 'LOST'">
          </div>
        </div>

        <div class="row input-field">
          <div class="col-1 text-center">
            <fa-icon [icon]="faPaw" class="vertical-column-align" size="lg"></fa-icon>
          </div>
          <div class="col">
            <select class="form-control" formControlName="type">
              <option value="DOG">Pies</option>
              <option value="CAT">Kot</option>
            </select>
          </div>
        </div>

        <div class="row input-field">
          <div class="col-1 text-center">
            <fa-icon [icon]="faVenusMars" class="vertical-column-align" size="lg"></fa-icon>
          </div>
          <div class="col">
            <select class="form-control" formControlName="gender">
              <option value="MALE">Samiec</option>
              <option value="FEMALE">Samica</option>
              <option *ngIf="petDataForm.getRawValue().status === 'FOUND'" value="UNKNOWN">Nie wiem</option>
              <option *ngIf="petDataForm.getRawValue().status === 'TO_GIVE'" value="BOTH">Różne płci</option>
            </select>
          </div>
        </div>

        <div class="row input-field">
          <div class="col-1 text-center">
            <fa-icon [icon]="faPhone" class="vertical-column-align" size="lg"></fa-icon>
          </div>
          <div class="col">
            <input class="form-control" type="number" matInput placeholder="Numer telefonu (opcjonalnie)"
                   formControlName="phoneNumber">
          </div>
        </div>

        <div class="row input-field">
          <div class="col-1 text-center">
            <fa-icon [icon]="faEnvelope" class="vertical-column-align" size="lg"></fa-icon>
          </div>
          <div class="col">
            <input type="email"
                   class="form-control"
                   [ngClass]="petDataForm.controls['email'].touched && petDataForm.controls['email'].errors? 'is-invalid' : ''"
                   matInput
                   placeholder="Email"
                   formControlName="email">
          </div>
        </div>

        <div class="row input-field">
          <div class="col-1 text-center">
            <fa-icon [icon]="faInfo" class="vertical-column-align" size="lg"></fa-icon>
          </div>
          <div class="col">
            <textarea class="form-control" matInput
                      [placeholder]="
                      petDataForm.getRawValue().status === 'LOST' ?
                      'Dodaj jak najwięcej informacji, które pomogą znaleźć zwierzaka' :
                      'Dodaj jak najwięcej informacji, które pomogą właścicielowi zidentyfikować zwierzaka' "
                      formControlName="additionalInfo"></textarea>
          </div>
        </div>
        <div>
          <button type="button" class="btn form-button fa-pull-right" [disabled]="!petDataForm.valid" matStepperNext>
            Dalej
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Miejsce i czas</ng-template>

      <p *ngIf="petDataForm.getRawValue().status === 'LOST'">Kiedy i gdzie ostatnio widziałeś zwierzaka?</p>
      <p *ngIf="petDataForm.getRawValue().status === 'FOUND'">Gdzie i kiedy znalazłeś zwierzaka?</p>
      <p *ngIf="petDataForm.getRawValue().status === 'TO_GIVE'">Zaznacz lokalizację, w której znajdują się zwierzaki do oddania</p>

      <div class="row input-field" *ngIf="petDataForm.getRawValue().status !== 'TO_GIVE'">
        <div class="col-1 text-center">
          <fa-icon [icon]="faCalendarAlt" class="vertical-column-align" size="lg"></fa-icon>
        </div>
        <div class="col">
          <input type="date"
                 [ngModel]="pet.lastSeen | date:'yyyy-MM-dd'"
                 (ngModelChange)="assignDateFromString($event)" class="form-control"/>
        </div>
      </div>

      <div class="map-container">
        <agm-map
          #agmMap
          [latitude]="mapData.centerLatitude"
          [zoom]="mapData.zoom"
          [disableDefaultUI]="true"
          [streetViewControl]="false"
          [zoomControl]="false"
          [clickableIcons]="false"
          (centerChange)="mapMoved($event)"
          [longitude]="mapData.centerLongitude">
        </agm-map>
        <div class="center-marker"></div>
      </div>
      <div class="mt-2">
        <button type="button" class="btn form-button fa-pull-left" matStepperPrevious>Wstecz</button>
        <button type="button" class="btn form-button fa-pull-right" [disabled]="!pet.lastSeen" matStepperNext>
          Dalej
        </button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Zdjęcia</ng-template>

      <p *ngIf="petDataForm.getRawValue().status === 'LOST'">Dodaj maksymalnie 3 zdjęcia, aby ułatwić poszukiwania: </p>
      <p *ngIf="petDataForm.getRawValue().status === 'FOUND'">Dodaj maksymalnie 3 zdjęcia, aby ułatwić identyfikację
        zwierzaka: </p>

      <div class="row loaded-pic-row" *ngFor="let picture of loadedPictures; let i = index">
        <div class="col-1 col-md-1 vertical-align">
          <div>{{i + 1}}.</div>
        </div>
        <div class="col col-2 col-md-2 vertical-align">
          <img class="loaded-pic" [src]="picture.data"/>
        </div>
        <div class="col col-7 col-md-8 vertical-align">
          <div class="picture-name">{{picture.name}}</div>
        </div>
        <div class="col col-1 col-md-1 vertical-align">
          <fa-icon class="remove-pic-icon" (click)="removePicture(picture)" [icon]="faTrash" size="lg"></fa-icon>
        </div>
      </div>


      <div class="row input-field mt-2 mb-2" *ngIf="loadedPictures.length < 3">
        <div class="col text-center">
          <input #fileInput type="file" accept="image/*" (change)="onFileAdded($event)" (click)="clearFileInput($event)"
                 style="display: none"/>
          <button type="button" class="btn form-button" (click)="fileInput.click();">
            <fa-icon [icon]="faCamera" size="lg"></fa-icon>
            Dodaj zdjęcie
          </button>
        </div>
      </div>

      <div class="mt-2" style="height: 60px;">
        <button type="button" class="btn form-button fa-pull-left" matStepperPrevious>Wstecz</button>
        <button type="button" class="btn form-button fa-pull-right"
                *ngIf="!isDataLoading"
                (click)="persistLostPet()"
                [disabled]="!isReadyToSave()">
          Publikuj*
        </button>
        <div *ngIf="isDataLoading" class="fa-pull-right">
          <img height="30" src="../../../assets/img/spinner.gif"/>
        </div>
      </div>
      <div class="disclaimer">
        *Klikając Publikuj zaświadczam, że zapoznałem/am się z regulaminem korzystania z usług portalu.
      </div>
    </mat-step>
  </mat-horizontal-stepper>

  <div [hidden]="!isPersisted">
    <div>Gratulacje! Twoje ogłoszenie zostało zgłoszone do publikacji.</div>

    <div class="mt-3">
      Na adres <b>{{petDataForm.controls['email'].value}}</b> wysłaliśmy wiadomość z linkiem potwierdzającym publikację
      ogłoszenia.
      Po jego kliknięciu stanie się ono widoczne dla wszystkich.
    </div>

    <div class="row mt-3">
      <div class="col col-12 text-center">
        <button type="button" class="btn form-button"
                (click)="activeModal.close()">
          Zakończ
        </button>
      </div>
    </div>
  </div>

</div>
