<div class="modal-header">
  <h4 class="modal-title">Zgłoś zaginięcie</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true" style="color: white; font-size: 2rem">&times;</span>
  </button>
</div>
<div class="modal-body">
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="petDataForm">
      <form [formGroup]="petDataForm">
        <ng-template matStepLabel>Dane</ng-template>

        <div class="row input-field">
          <div class="col-1 text-center">
            <fa-icon [icon]="faTag" class="vertical-column-align" size="lg"></fa-icon>
          </div>
          <div class="col">
            <input class="form-control" matInput placeholder="Imię zwierzaka" formControlName="name" required>
          </div>
        </div>

        <div class="row input-field">
          <div class="col-1 text-center">
            <fa-icon [icon]="faPaw" class="vertical-column-align" size="lg"></fa-icon>
          </div>
          <div class="col">
            <select class="form-control" formControlName="type">
              <option value="DOG">Pies</option>
              <option value="CAT">Kot</option>
            </select>
          </div>
        </div>

        <div class="row input-field">
          <div class="col-1 text-center">
            <fa-icon [icon]="faVenusMars" class="vertical-column-align" size="lg"></fa-icon>
          </div>
          <div class="col">
            <select class="form-control" formControlName="gender">
              <option value="MALE">Samiec</option>
              <option value="FEMALE">Samica</option>
            </select>
          </div>
        </div>

        <div class="row input-field">
          <div class="col-1 text-center">
            <fa-icon [icon]="faPhone" class="vertical-column-align" size="lg"></fa-icon>
          </div>
          <div class="col">
            <input class="form-control" type="number" matInput placeholder="Numer telefonu" formControlName="phoneNumber">
          </div>
        </div>

        <div class="row input-field">
          <div class="col-1 text-center">
            <fa-icon [icon]="faEnvelope" class="vertical-column-align" size="lg"></fa-icon>
          </div>
          <div class="col">
            <input type="email"
                   class="form-control"
                   [ngClass]="petDataForm.controls['email'].touched && petDataForm.controls['email'].errors? 'is-invalid' : ''"
                   matInput
                   placeholder="Email"
                   formControlName="email">
          </div>
        </div>

        <div class="row input-field">
          <div class="col-1 text-center">
            <fa-icon [icon]="faInfo" class="vertical-column-align" size="lg"></fa-icon>
          </div>
          <div class="col">
            <textarea class="form-control" matInput placeholder="Dodaj jak najwięcej informacji, które pomogą znaleźć zwierzaka"
                      formControlName="additionalInfo"></textarea>
          </div>
        </div>
        <div>
          <button type="button" class="btn form-button fa-pull-right" [disabled]="!petDataForm.valid" matStepperNext>
            Dalej
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Miejsce i czas zaginięcia</ng-template>

      <p>Kiedy i gdzie ostatnio widziałeś zwierzaka?</p>

      <div class="row input-field">
        <div class="col-1 text-center">
          <fa-icon [icon]="faCalendarAlt" class="vertical-column-align" size="lg"></fa-icon>
        </div>
        <div class="col">
          <input type="date" [ngModel]="lostPet.lastSeen | date:'yyyy-MM-dd'"
                 (ngModelChange)="assignDateFromString($event)" class="form-control"/>
        </div>
      </div>

      <div class="map-container">
        <agm-map
          #agmMap
          [latitude]="mapData.centerLatitude"
          [zoom]="mapData.zoom"
          [disableDefaultUI]="true"
          [streetViewControl]="false"
          [zoomControl]="false"
          [clickableIcons]="false"
          (centerChange)="mapMoved($event)"
          [longitude]="mapData.centerLongitude">
        </agm-map>
        <div class="center-marker"></div>
      </div>
      <div class="mt-2">
        <button type="button" class="btn form-button fa-pull-left" matStepperPrevious>Wstecz</button>
        <button type="button" class="btn form-button fa-pull-right" [disabled]="!lostPet.lastSeen" matStepperNext>Dalej</button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Zdjęcia</ng-template>

      <p>Dodaj zdjęcia, aby ułatwić poszukiwania</p>

      <div class="row input-field mt-2 mb-2">
        <div class="col-1 text-center">
          <fa-icon [icon]="faCamera" class="vertical-column-align" size="lg"></fa-icon>
        </div>
        <div class="col">
          <input type="file" accept="image/*" (change)="onFileChange($event)" />
        </div>
      </div>

      <div class="row">
        <div class="col-12" *ngFor="let picture of loadedPictures">
          <img class="loaded-pic" [src]="picture"/>
        </div>
      </div>

      <div class="mt-2">
        <button type="button" class="btn form-button fa-pull-left" matStepperPrevious>Wstecz</button>
        <button type="button" class="btn form-button fa-pull-right"
                *ngIf="!isDataLoading"
                (click)="persistLostPet()"
                [disabled]="!isReadyToSave()">
          Publikuj
        </button>
        <div *ngIf="isDataLoading" class="fa-pull-right">
          <img height="30" src="../../../assets/img/spinner.gif"/>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

</div>
