.modal-header {
  background-image: linear-gradient(to right top, #fd495e, #fe525b, #fe5b58, #fe6456, #fe6c54);
  color: white;
}
.map-container {
  width: 100%;
  height: 400px;
  position: relative;
}

textarea { resize: none; }

agm-map {
  width: 100%;
  height: 100%;
}

.input-field {
  margin-bottom: 10px;
}

.form-button {
  background-image: linear-gradient(to right top, #fd495e, #fe525b, #fe5b58, #fe6456, #fe6c54);
  color: white;
}

.center-marker {
  position:absolute;
  background:url(http://maps.gstatic.com/mapfiles/markers2/marker.png) no-repeat;
  top:50%;left:50%;
  z-index:5;
  height:34px;
  width:20px;
  cursor:pointer;
}
.loaded-pic-row {
  margin-top: 10px;
  margin-bottom: 10px;

  .remove-pic-icon {
    cursor: pointer;
  }

  .picture-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .loaded-pic {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
}



