.pet-pictures-container {
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
  cursor: pointer;

  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
}

.sidePanelTitle {
  height: 55px;
  width: 100%;
  font-size: 1.2rem;
  padding-left: 20px;

  &.lost {
    background-image: linear-gradient(to right top, #fd495e, #fe525b, #fe5b58, #fe6456, #fe6c54);
  }

  &.found {
    background-image: linear-gradient(to right top, #1aaa67, #0ca56d, #01a172, #009c76, #27ae60);
  }

  &.to-give {
    background-image: linear-gradient(to right top, #f39c12, #f79d2a, #fa9f3a, #fda148, #ffa355);
  }
}

.sidePanelContent {
  font-size: 1rem;
}

.pet-detail {
  margin: 15px 0;
  padding-right: 10px;
}

fa-icon {
  color: #f6b93b
}

.field-description {
  color: #f6b93b;
 font-size: 0.8rem;
  font-style: italic;
}
