<div class="sidePanelTitle vertical-align" [ngClass]="resolveSidePanelHeaderColor(pet.status)">
  <div *ngIf="pet.status === 'LOST'">Zaginiony {{pet.type === 'DOG' ? 'pies' : 'kot'}}</div>
  <div *ngIf="pet.status === 'FOUND'">Znaleziony {{pet.type === 'DOG' ? 'pies' : 'kot'}}</div>
  <div *ngIf="pet.status === 'TO_GIVE'">{{pet.type === 'DOG' ? 'Pies' : 'Kot'}} do oddania</div>
</div>
<div class="sidePanelContent">
  <div class="pet-pictures-container">
    <div *ngIf="pet.pictures.length === 1">
      <img
        (load)="this.isPictureLoaded = true;"
        [hidden]="!isPictureLoaded"
        [src]="pet.pictures[0].pictureUrl"/>
      <img
        [hidden]="isPictureLoaded"
        src="../../../assets/img/spinner2.gif"/>
    </div>
    <ngb-carousel *ngIf="pet.pictures.length > 1">
      <ng-template ngbSlide *ngFor="let pic of pet.pictures">
        <img
          (load)="this.isPictureLoaded = true;"
          [hidden]="!isPictureLoaded"
          [src]="pic.pictureUrl" alt="Random first slide"/>
        <img
          [hidden]="isPictureLoaded"
          src="../../../assets/img/spinner2.gif"/>
      </ng-template>
    </ngb-carousel>

  </div>

  <div class="row pet-detail" *ngIf="pet.name">
    <div class="col col-2 text-center">
      <fa-icon [icon]="faTag" size="lg"></fa-icon>
    </div>
    <div class="col">
      {{pet.name}}
    </div>
  </div>

  <div class="row pet-detail">
    <div class="col col-2 text-center">
      <fa-icon [icon]="faVenusMars" size="lg"></fa-icon>
    </div>
    <div class="col">
      {{resolveGender(pet.gender)}}
    </div>
  </div>

  <div class="row pet-detail" *ngIf="pet.phoneNumber">
    <div class="col col-2 text-center">
      <fa-icon [icon]="faPhone" size="lg"></fa-icon>
    </div>
    <div class="col">
      {{pet.phoneNumber}}
    </div>
  </div>

  <div class="row pet-detail">
    <div class="col col-2 text-center">
      <fa-icon [icon]="faEnvelope" size="lg"></fa-icon>
    </div>
    <div class="col">
      {{pet.email}}
    </div>
  </div>


  <div class="row pet-detail" *ngIf="pet.status === 'LOST' || pet.status === 'FOUND'">
    <div class="col col-2 text-center">
      <fa-icon [icon]="faCalendarAlt" size="lg"></fa-icon>
    </div>
    <div class="col">
      <div *ngIf="pet.status === 'LOST'">Ostatnio widziany: {{pet.lastSeen | date: 'd.MM.yyyy'}}</div>
      <div *ngIf="pet.status === 'FOUND'">Znaleziony: {{pet.lastSeen | date: 'd.MM.yyyy'}}</div>
    </div>
  </div>

  <div class="row pet-detail" *ngIf="pet.additionalInfo">
    <div class="col col-2 text-center">
      <fa-icon [icon]="faInfo" size="lg"></fa-icon>
    </div>
    <div class="col">
      {{pet.additionalInfo}}
    </div>
  </div>

</div>
