.pet-pictures-container {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

.sidePanelTitle {
  height: 71px;
  width: 100%;
  font-size: 1.5rem;
  padding-left: 20px;

  &.lost {
    background-image: linear-gradient(to right top, #fd495e, #fe525b, #fe5b58, #fe6456, #fe6c54);
  }

  &.found {
    background-image: linear-gradient(to right top, #1aaa67, #0ca56d, #01a172, #009c76, #27ae60);
  }
}

.sidePanelContent {
  font-size: 1.1rem;
}

.pet-detail {
  margin: 20px 0;
  padding-right: 10px;
}
