<div class="page-wrapper">
  <agm-map
    #agmMap
    [latitude]="mapData.centerLatitude"
    [zoom]="mapData.zoom"
    [disableDefaultUI]="true"
    [streetViewControl]="false"
    [zoomControl]="false"
    [clickableIcons]="false"
    (mapReady)="mapReady($event)"
    (mapClick)="mapClicked()"
    [longitude]="mapData.centerLongitude">
    <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
      <agm-marker
        *ngFor="let pet of lostPets"
        (markerClick)="petSelected(pet)"
        [iconUrl]="pet.type === 'DOG' ? dogPinIcon : catPinIcon"
        [latitude]="pet.coordinates.latitude"
        [longitude]="pet.coordinates.longitude">
      </agm-marker>
    </agm-marker-cluster>
  </agm-map>

  <div #lostPetInfoSidePanel class="sidepanel">
    <a class="closebtn" (click)="closeDetails()">&times;</a>
    <app-lost-pet-side-panel *ngIf="selectedPet" [pet]="selectedPet"></app-lost-pet-side-panel>
  </div>

  <div class="add-button-wrapper">
    <button #addPetButton type="button" class="btn add-button p-0" (click)="openAddDialog()">
      <div *ngIf="!selectedPet">
        <fa-icon [icon]="faPlusCircle" size="2x" class="pl-2 fa-pull-left"></fa-icon>
        <div class="add-button-text">Zgłoś zaginięcie</div>
      </div>
    </button>
  </div>
</div>
