<div class="page-wrapper">
  <agm-map
    #agmMap
    [latitude]="51"
    [zoom]="10"
    [disableDefaultUI]="true"
    [streetViewControl]="false"
    [zoomControl]="false"
    [clickableIcons]="false"
    (mapClick)="mapClicked()"
    [longitude]="21">
    <agm-marker
      *ngFor="let pet of lostPets"
      (markerClick)="petSelected(pet)"
      [latitude]="pet.coordinates.latitude"
      [longitude]="pet.coordinates.longitude">
    </agm-marker>
  </agm-map>

  <div #lostPetInfoSidePanel class="sidepanel">
    <a class="closebtn" (click)="closeDetails()">&times;</a>
    <app-lost-pet-side-panel *ngIf="selectedPet" [pet]="selectedPet"></app-lost-pet-side-panel>
  </div>

  <div class="add-button-wrapper">
    <button #addPetButton type="button" class="btn add-button p-0" (click)="openAddDialog()">
      <div *ngIf="!selectedPet">
        <fa-icon [icon]="faPlusCircle" size="2x" class="pl-2 fa-pull-left"></fa-icon>
        <div class="add-button-text">Zgłoś zaginięcie</div>
      </div>
    </button>
  </div>
</div>
